.select {
  position: relative;
}

:global {
  .react-select {
    &__menu-portal {
      z-index: 999 !important;
    }

    &__menu-list {
      max-height: 300px;
      overflow-y: auto;
    }

    &__control {
      @apply text-p4 bg-white;
      padding-inline: 1.26rem;
      border: 1px solid hsl(var(--gray-5-color));
      border-radius: 0.4rem;
      width: 100%;
      height: 2.8rem;

      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      transition: background-color 0.2s, border-color 0.2s;
    }

    &__value-container {
      flex: 1;
      overflow: hidden;
      align-items: center;
      display: flex;
    }

    &__menu {
      @apply dropdown__menu;
      top: 100%;
      position: absolute;
      width: 100%;
      margin-top: 0.46rem;
    }

    &__option {
      @apply dropdown__option dropdown__option-label;

      &--is-selected {
        @apply bg-accent text-white;
      }

      &:not(&--is-selected):hover {
        @apply dropdown__option-hover;
      }
    }

    &__single-value {
      position: absolute;
    }

    &--single-value {
      @apply absolute-y-center truncate;
      max-width: calc(100% - 8px);
    }

    &__menu-notice {
      &--no-options {
        @apply text-c1 font-semibold;
        text-align: center;
        padding: 0.5rem 0;
      }
    }

    &__placeholder {
      @apply text-gray-3;
      position: absolute;
    }

    &__indicator {
      display: flex;
      width: 1rem;
      height: 1rem;
    }
  }
}
