.tabs:global(.tabs) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs :global(.tabs__head-list) {
  padding-top: 10px;
  padding-inline: 20px;
  background-color: hsl(var(--white-color));
}

.tabs :global(.tabs__body) {
  flex: auto;
  padding: 28px;
}
