@use 'sass:math';

@import './fonts.scss';

@function pxToRem($value) {
  $remValue: math.div($value, 16) + rem;
  @return $remValue;
}

:root {
  --accent-color: 209 78% 48%;
  --primary-color: 230 29% 20%;

  --black-1-color: 180 3% 6%;
  --black-2-color: 220 8% 17%;

  --gray-1-color: 240 3% 45%;
  --gray-2-color: 240 6% 60%;
  --gray-3-color: 240 11% 75%;
  --gray-4-color: 240 21% 86%;
  --gray-5-color: 207 28% 92%;
  --gray-6-color: 240 19% 94%;
  --gray-7-color: 240 29% 97%;

  --red-color: 0 84% 61%;
  --green-color: 145 63% 42%;
  --blue-color: 208 79% 51%;

  --h1-font-size: #{pxToRem(34)};
  --h1-line-height: #{pxToRem(48)};

  --h2-font-size: #{pxToRem(29)};
  --h2-line-height: #{pxToRem(42)};

  --h3-font-size: #{pxToRem(25)};
  --h3-line-height: #{pxToRem(36)};

  --h4-font-size: #{pxToRem(20)};
  --h4-line-height: #{pxToRem(32)};

  --p1-font-size: #{pxToRem(15)};
  --p1-line-height: #{pxToRem(24)};

  --p2-font-size: #{pxToRem(14)};
  --p2-line-height: #{pxToRem(23)};

  --p3-font-size: #{pxToRem(13)};
  --p3-line-height: #{pxToRem(23)};

  --p4-font-size: #{pxToRem(12)};
  --p4-line-height: #{pxToRem(18)};

  --p5-font-size: #{pxToRem(11)};
  --p5-line-height: #{pxToRem(19)};

  --p6-font-size: #{pxToRem(10)};
  --p6-line-height: #{pxToRem(16)};

  --shadow-1: 0px 8px 20px rgba(205, 205, 205, 0.1);
  --shadow-2: 0px 4px 4px rgba(176, 176, 176, 0.1);
  --shadow-3: 0px -4px 20px rgba(199, 199, 199, 0.1);
  --shadow-4: 0px 4px 17px rgba(6, 6, 11, 0.06);
  --shadow-5: 0px 4px 17px rgba(10, 12, 17, 0.08);
}

body {
  width: 100%;
  min-width: 1180px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(var(--black-1-color));
}
