$pagination-item-height: 1.74rem;

.pagination {
  display: flex;
  column-gap: 0.24rem;

  &__item {
    @apply flex-center text-c1;
    width: 1.36rem;
    height: $pagination-item-height;
    border-radius: 0.18rem;

    &--active {
      @apply bg-accent text-white;
    }

    &--disabled {
      @apply text-gray-2;
    }

    &:hover:not(&--active) {
      @apply bg-gray-6;
    }
  }

  &__link {
    @apply truncate;
    line-height: $pagination-item-height;
    width: 100%;
    text-align: center;

    &--nav {
      display: flex;
      justify-content: center;
    }
  }
}
