.section {
  &:not(:last-child) {
    border-bottom: 1px solid hsl(var(--gray-6-color));
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__heading {
    @apply text-p1 pb-2 font-semibold;
  }
}
