.section {
  &:not(:last-child) {
    border-bottom: 1px solid hsl(var(--gray-6-color));
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &__heading {
    @apply text-p1 font-semibold;
    margin-bottom: 0.5rem;
  }
}
