.circle {
  width: 1.375rem;
  height: 1.375rem;
  border: 3px solid hsl(var(--gray-6-color));
  border-radius: 50%;
  &--active {
    width: 1.2rem;
    height: 1.2rem;
    background-color: hsl(var(--blue-color));
    border-color: hsl(var(--white-color));
    outline: 2px solid hsl(var(--blue-color));
    z-index: 1;
  }
  &--completed {
    width: 1.375rem;
    height: 1.375rem;
    background-color: hsl(var(--green-color));
    border-radius: 50%;
  }
}

.line {
  height: 3px;
  width: 150px;
  background-color: hsl(var(--gray-6-color));
  &--active {
    background-color: hsl(var(--accent-color));
  }
  &--completed {
    background-color: hsl(var(--green-color));
  }
}
